.ui-datepicker,
.ui-datepicker-material-header {
  display: initial;

  font-family: 'Roboto', sans-serif;
}

.ui-datepicker .ui-datepicker-header,
.ui-datepicker .ui-datepicker-title,
.ui-datepicker table {
  margin: 0;
}

.ui-datepicker .ui-datepicker-title {
  padding: 10px;
}

.ui-datepicker table {
  width: 100%;

  border-collapse: collapse;
}

.ui-datepicker .ui-datepicker-header {
  color: white;
  background-color: #1f3a58;
}

.ui-datepicker-material-header {
  display: block;
  width: 325px;

  text-align: center;

  color: white;
  background-color: #284b72;
}
.ui-datepicker-material-header
.ui-datepicker-material-day {
  padding: 10px;

  font-size: 1rem;

  background-color: #1f3a58;
}
.ui-datepicker-material-header
.ui-datepicker-material-date {
  padding: 20px;
}
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num,
.ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
  padding: 5px;
}
.ui-datepicker-material-header
.ui-datepicker-material-date
.ui-datepicker-material-month {
  font-size: 2rem;
  text-transform: uppercase;
}
.ui-datepicker-material-header
.ui-datepicker-material-date
.ui-datepicker-material-day-num {
  font-size: 4.5rem;
}
.ui-datepicker-material-header
.ui-datepicker-material-date
.ui-datepicker-material-year {
  font-weight: 200;
  font-size: 1.8rem;

  color: rgba(255, 255, 255, 0.4);
}

.ui-datepicker {
  width: 325px;
  padding: 0;

  box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  border: none;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-widget-header {
  border: 0;
}

.ui-datepicker-header {
  font-weight: 300;
  text-align: center;

  background: white;
}

.ui-datepicker-calendar
.ui-state-active {
  color: white;
  background-color: #284b72;
  border-radius: 50%;
}
.ui-datepicker-calendar thead th {
  width: 33px;
  height: 33px;

  font-weight: 200;
  line-height: 36px;

  color: #999999;
}

.ui-datepicker-calendar tbody td {
  width: 33px;
  height: 33px;

  line-height: 36px;
  text-align: center;

  background: none;
  border: none;
}

.ui-datepicker-calendar tbody td.ui-datepicker-today {
  color: white;
  background-color: #284b72;
}

.ui-datepicker-calendar tbody td.ui-datepicker-other-month {
  opacity: 0.35;
}

.ui-datepicker-calendar .ui-datepicker-week-end {
  background-color: #b4cbe5;
}

#root {
  width: 325px;
  margin: 50px auto;
}
